button.btn-live-price {
  margin-top: 5px;
}

.screener {
  div.row label {
    padding-left: 15px;
  }

  form button {
    padding-top: 20px;
  }
}

/* bootstrap labels used for displaying numbers in contrast */
div.analytical-data-table {
  table td h4 {
    text-align: center;
  }
}